*,
*::before*::after {
  box-sizing: border-box;
}

h1,
h2 {
  font-family: "Noto Serif TC", serif;
  color: #000;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
p {
  font-family: "Noto Sans TC", sans-serif;
  color: #333;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}

/**---------------- 頁首區---------------- */

/* *導覽列 */

header {
  background-image: url(../img/index/header_back.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 100%;
  padding-bottom: 40%;
  position: sticky;

  top: 0;
  overflow: hidden;
  margin: auto;
}

.nav-colorback {
  box-sizing: border-box;
  position: fixed;
  z-index: 1000;
  width: 100%;

  padding: 0.8% 0;
  transition: transform 0.4s ease-in-out;
  background-color: #fffffff3;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.16);
}
.hideUp {
  transform: translateY(-100%);
}

.nav-con {
  width: 87.9%;
  /* outline: 2px solid red; */
  margin: auto;
  display: flex;
  justify-content: center;
}

/* *LOGO */

.nav-logo {
  /* outline: 2px solid red; */
  padding-top: 0.1%;
  width: 2.5%;
}
.nav-logo img {
  width: 100%;
}

/* *選單 */
nav {
  width: 50%;
  margin-left: 4%;
  transition: transform 0.6s ease-in-out;
}
.nav-menu-list {
  /* outline: 2px solid red; */

  padding-top: 2.2%;
  display: flex;
  gap: 6%;
}

.nav-menu-list-item a {
  font-family: "Inter", sans-serif;
  color: #333;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: transform 0.6s, border-bottom 0.8s;
  border-bottom: 2px solid rgba(53, 53, 53, 0);
  display: block;
}
.nav-menu-list li:hover > a {
  transform: translateY(-5px);
  border-bottom: 2px solid rgba(110, 110, 110, 0.527);
}
/*  *會員購物車  */

.nav-member {
  display: flex;
  /* border: 2px solid red; */

  align-items: center;
  justify-content: space-between;
  margin-left: 2%;
}
.nav-member-login {
  /* border: 2px solid red; */
  margin-left: 10%;
}

.nav-member-login a {
  font-family: "Inter", sans-serif;
  background-color: #4d4d4dcc;
  color: #ffffff;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* border: 1px solid #777777; */
  border-radius: 8px;
  padding: 5px 20px;
  width: 100%;
  transition: background-color.5s;
}
.nav-member-login a:hover {
  background-color: #f8c20f;
  /* color: #ffffff; */
  transition: background-color.5s;
}

.nav-member-shop {
  /* outline: 2px solid red;  */
  width: 15%;
  margin-right: 15%;
}
.nav-member-shop img {
  width: 100%;
}

/* *漢堡 */

.line {
  /* outline: 2px solid red; */
  width: 2%;
  height: 50%;
  cursor: pointer;
  position: absolute;
  z-index: 2;
  right: 8%;
  top: 25%;
  display: none;
}
.line .menu,
.line .menu::before,
.line .menu::after {
  background: #555555;
  content: "";
  display: block;
  height: 1.5px;
  position: absolute;
  transition: background ease 0.3s, top ease 0.3s 0.3s, transform ease 0.3s;
  width: 22px;
}
.line .menu {
  left: 2px;
  top: 12px;
}

.line .menu::before {
  top: -8px;
}

.line .menu::after {
  top: 8px;
}
/*選單變叉叉*/
#menu:checked + .nav-colorback .line .menu {
  background: transparent;
}

#menu:checked + .nav-colorback .line .menu::before {
  transform: rotate(45deg);
}

#menu:checked + .nav-colorback .line .menu::after {
  transform: rotate(-45deg);
}

#menu:checked + .nav-colorback .line .menu::before,
#menu:checked + .nav-colorback .line .menu::after {
  top: 0;
  transition: top ease 0.3s, transform ease 0.3s 0.3s;
}
#menu:checked ~ .nav-colorback nav {
  transform: translateX(-100%);
}
input#menu {
  display: none;
}

/* *頁頭標籤 */

.logo-font {
  position: relative;
  top: 100px;
  margin: auto;
  width: 47%;
}
.logo-font img {
  width: 100%;
}

/* *頁頭人 */
.header_man {
  position: relative;
  top: 80px;
  margin: auto;
  width: 13%;
}
.header_man img {
  width: 100%;
}

/**---------------- 紙背景---------------- */
.paperbacktop {
  background-image: url(../img/about/paperbagtop-back.png);
  position: relative;
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin-top: 5%;
  padding-top: 15.1%;
}
.paperback {
  background-image: url(../img/about/paperbagrepeat-back.jpg);
  position: relative;
  overflow: hidden;
  background-size: 100% auto;
}

/**---------------- 特色區---------------- */

.feature {
  margin-top: 46%;
  background-color: #f5f3ee;
  width: 87.9%;
  margin: auto;
  border-radius: 24px 24px 0px 0px;
  padding: 2.5% 6% 2% 6%;
  box-sizing: border-box;
  position: relative;
  padding-bottom: 8%;
  border-radius: 8px;
  /* overflow: hidden; */
}

.ft-center {
  /* outline: 2px solid red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1050px;
  margin: auto;

  position: relative;
}

/* *咖啡 */

.ft-cn-coffee {
  /* outline: 2px solid red; */
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  position: relative;
}
.ft-cf-cn-pic {
  width: 55%;
}

.ft-cf-cn-pic-man img {
  width: 100%;
}
.ft-cf-cn-pic-bean {
  position: absolute;
  transform: translate(-50%, -50%);
  left: -16%;
  bottom: -55%;
}

.ft-cf-cn-txt {
  /* outline: 2px solid red; */
  width: 45%;
}
.ft-cf-cn-txt h2 {
  font-size: 2rem;
  letter-spacing: 4px;
}
.ft-cf-cn-txt p {
  margin-top: 3%;
  font-weight: 400;
  line-height: 2.5em;
}

/**  咖哩 */

.ft-cn-curry {
  /* outline: 2px solid red; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 16%;
}
.ft-cu-cn-pic {
  width: 50%;
  position: relative;
}
.ft-cu-cn-pic-curry img {
  width: 100%;
}
.ft-cu-cn-pic-otona {
  position: absolute;
  z-index: 2;
  transform: translate(-50%, -50%);
  right: -8%;
  bottom: 60%;
}
.ft-cu-cn-pic-sun {
  position: absolute;
  mix-blend-mode: darken;
  transform: translate(-50%, -50%);
  left: 60%;
  bottom: -30%;
}
.ft-cu-cn-pic-sun img {
  width: 200%;
}
.ft-cu-cn-txt {
  /* outline: 2px solid red; */
  width: 45%;
  margin-right: 5%;
}

.ft-cu-cn-txt h2 {
  font-size: 2rem;
  letter-spacing: 4px;
}
.ft-cu-cn-txt p {
  margin-top: 3%;
  font-weight: 400;
  line-height: 2.5em;
}

/* *-----------遊戲區----------- */

/* .middle-whiteback {
 
  background: rgb(245, 243, 238);
  position: absolute;
  z-index: -1;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 88%;
  
  margin: auto;
  padding-bottom: 20%;
} */
.game {
  /* outline: 2px solid red; */
  margin-top: 5%;
}
.game-item {
  background-image: url(../img/index/paper.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 0 0;
  width: 100%;
  padding-top: 12%;
}
.ga-it-title {
  /* border: 2px solid red; */
  margin: auto;
  width: 35%;
  margin-top: -3%;
}
.ga-it-title img {
  width: 100%;
}
/* .ga-it-button {
  border: 2px solid red;
  margin: auto;
  width: 10%;
  text-align: center;
  margin-top: 1%;
}
.ga-it-button img {
  width: 100%;
} */

.ga-it-coffee {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  gap: 3%;
  margin-top: 4%;
  padding-bottom: 14%;
}
.ga-it-coffee img {
  overflow: clip;
  width: 100%;
}
.ga-it-coffee a {
  transition: transform 0.5s;
  display: block;
}

.ga-it-coffee li:hover > a {
  transform: translateY(-15px);
}

/* *-----------最新消息-----------*/

.news {
  width: 100%;
}
.news-title {
  /* border: 2px solid blue; */
  width: 18%;
  margin: auto;
}
.news-title img {
  width: 100%;
}

.new-card {
  /* border: 2px solid red; */
  /* width: 100%; */
  width: 1200px;
  margin: auto;
  margin-top: 4%;
}
.new-card ul {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  /* width: 75%; */

  gap: 5%;
}

.new-card ul li:nth-child(1) {
  background-image: url(../img/index/card-leader.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.new-card ul li:nth-child(2) {
  background-image: url(../img/index/card-birthday.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.new-card ul li:nth-child(3) {
  background-image: url(../img/index/card-latteart.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.new-card ul li:nth-child(4) {
  background-image: url(../img/index/card-machine.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.new-card ul li:nth-child(5) {
  background-image: url(../img/index/card-purin.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.new-card ul li:nth-child(6) {
  background-image: url(../img/index/card-pourover.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

/* *卡片 */
.new-card ul li {
  transition: all 0.5s ease;
  margin-bottom: 5%;
}
.new-card ul li:hover {
  transform: rotate(5deg);
}
/* .new-card ul li:hover {
  opacity: 0.7;
  transition: all 0.5s ease;
} */
.new-card ul li a {
  box-sizing: border-box;
  /* padding-top: 320px; */
  /* border: 2px solid blue; */
  width: 279px;
  margin-bottom: 15%;
  /* padding-bottom: ; */
  height: 360px;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.new-car-txt {
  box-sizing: border-box;
  /* width: 100%; */
  /* outline: 2px solid red; */
  display: flex;
  justify-content: space-between;
  display: flex;
  align-items: center;

  gap: 100px;
}
.new-car-txt-tag p {
  border: 1px solid #979797;
  border-radius: 8px;
  font-style: normal;
  box-sizing: border-box;
  padding: 0px 10px;
  line-height: 22px;
  /* margin-top: 5px; */
  font-size: 10px;
  letter-spacing: 2px;
}
.new-card ul li h3 {
  /* outline: 2px solid red; */
  font-family: "Noto Serif TC", serif;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  min-width: 150px;
}

/* *-----------頁尾-----------*/

footer {
  background-image: url(../img/index/footer-back.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  /* border: 2px solid red; */

  margin: auto;
  padding-top: 20%;
  padding-bottom: 6%;
  gap: 50px;
}

/* *頁尾左邊 */

.foot-con-tm-title {
  margin-bottom: 1rem;
}
.foot-con-ph-title {
  margin-bottom: 1rem;
}
.footer-container span {
  font-family: "Noto Sans TC", sans-serif;
  color: #ffffff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.footer-container p {
  font-family: "Noto Sans TC", sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
}

/* *頁尾logo */

.foot-con-logo {
  /* border: 2px solid red; */

  width: 260px;
  margin: 0px 30px;
}

.foot-con-logo img {
  width: 100%;
}

/* *頁尾右邊 */

.foot-con-list {
  /* border: 2px solid red; */
  width: 355px;
}
.foot-con-li-menu {
  display: flex;
  gap: 37px;
}
.foot-con-li-menu a {
  font-family: "Noto Sans TC", sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
}

.foot-con-li-sns {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 12px 0px;
}
.foot-con-li-sns li {
  width: 5%;
  min-width: 30px;
}
.foot-con-li-sns img {
  width: 100%;
}
.news-page-number {
  text-align: center;
  margin-top: 4%;
  margin-bottom: 10%;
}
.foot-con-li-tibame p {
  font-family: "Noto Sans TC", sans-serif;
  color: #ffffff;
  font-size: 10px;
  font-style: normal;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 2px;
}

/**---------------------------------- R W D----------------------------------------- */

@media (max-width: 1920px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 1280px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 1279px) {
  html {
    font-size: 10px;
  }
  /**---------------- 頁首區---------------- */
  /* *hb */
  .line {
    display: block;
    right: 12%;
  }
  /* *logo */
  .nav-logo {
    /* outline: 2px solid red; */
    margin-left: 10%;
    margin-top: 0.3%;
    width: 40px;
  }

  /* *導覽列 */
  .nav-colorback {
    height: 60px;
  }

  .nav-con {
    width: 87.9%;
    /* outline: 2px solid red; */
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  /* *會員購物車 */

  .nav-member {
    display: none;
  }

  nav {
    /* outline: 2px solid red; */
    background-color: #f1ecdd;
    position: absolute;
    width: 30%;
    margin-left: 0%;
    margin-top: 0%;
    top: 100%;
    left: 100%;
  }
  .nav-menu-list {
    padding-top: 0%;
    display: flex;
    flex-direction: column;
    gap: 6%;
  }
  .nav-menu-list-item {
    border-bottom: 1.5px solid rgba(126, 126, 126, 0.555);
    box-sizing: border-box;
  }
  .nav-menu-list-item:hover {
    background-color: #f7d872;
    transition: background-color 0.6s ease;
  }
  .nav-menu-list li:last-child {
    border-bottom: 0px solid rgb(126, 126, 126);
  }
  .nav-menu-list-item a {
    color: #333;
    font-size: 1.3rem;
    padding: 5% 0 5% 8%;
    font-weight: 400;
    line-height: normal;
    transition: none;
    display: block;
    letter-spacing: 2px;
  }
  .nav-menu-list li:hover > a {
    transform: translateY(0px);
    border-bottom: 0px solid rgba(110, 110, 110, 0.527);
  }
  .footer-container {
    padding-top: 20%;
    gap: 50px;
  }

  /* *頁尾左邊 */

  .foot-con-time {
    display: none;
  }

  .foot-con-tm-title {
    margin-bottom: 12px;
  }
  .foot-con-ph-title {
    margin-bottom: 12px;
  }
  .footer-container span {
    font-size: 1.2rem;

    font-weight: 400;
  }
  .footer-container p {
    font-size: 1rem;

    font-weight: 300;
    line-height: 25px;
  }

  /* *頁尾logo */

  .foot-con-logo {
    width: 200px;
    margin: 0 5%;
  }

  /* *頁尾右邊 */

  .foot-con-list {
    /* outline: 2px solid red; */
    width: 175px;
  }
  .foot-con-li-menu {
    gap: 8%;
  }
  .foot-con-li-menu a {
    display: none;
    /* font-size: 1rem;
    line-height: 30px; */
  }

  .foot-con-li-sns {
    gap: 37px;

    margin: 0px 0px 8px 0px;
  }
  .foot-con-li-sns li {
    width: 5%;

    min-width: 25px;
  }
  .foot-con-li-sns img {
    width: 100%;
  }

  .news-page-number {
    text-align: center;
    margin-top: 4%;
    margin-bottom: 10%;
  }

  .foot-con-li-tibame p {
    font-size: 1rem;
    line-height: 20px;
    font-weight: 100;
  }
}

@media screen and (max-width: 768px) {
  /* *頁尾logo */
  .footer-container {
    gap: 10px;
  }
  .foot-con-logo {
    display: none;
  }

  .foot-con-phone {
    width: 250px;
    margin-top: 2%;
  }
  .foot-con-list {
    margin-top: 3%;
    width: 250px;
  }

  .foot-con-ph-title {
    margin-bottom: 3px;
  }
}

@media screen and (max-width: 600px) {
  .foot-con-phone {
    display: none;
  }
  .foot-con-li-sns {
    display: flex;
    justify-content: center;
  }
  .foot-con-list {
    width: 300px;
  }
  .foot-con-li-tibame {
    text-align: center;
  }
}

/**----------------手機 RWD---------------- */

@media screen and (max-width: 414px) {
  /* *導覽列 */
  .nav-colorback {
    height: 55px;
  }
  /* *漢堡 */
  .line .menu {
    left: 2px;
    top: 15px;
  }

  nav {
    width: 100%;
  }

  /* *LOGO*/
  .nav-logo {
    width: 10%;
    margin-top: 1%;
    margin-left: 15px;
  }
  /* *頁頭標題 */
  .logo-font {
    top: 50px;
  }
  /* *頁頭人 */
  .header_man {
    position: absolute;
    left: 43%;
    top: 46%;
  }
  /** 頁頭背景 */

  header {
    padding-bottom: 40%;
  }
  /** 紙背景 */
  .paperbacktop {
    margin-top: -10%;
  }
  /**---------- 特色區---------- */
  .feature {
    padding-bottom: 10%;
  }

  .ft-center {
    margin-top: 8%;
    /* outline: 2px solid red; */
  }

  /* *咖啡 */
  .ft-cf-cn-pic {
    width: 85%;
    margin-top: 10%;
  }
  .ft-cf-cn-pic-bean {
    display: none;
  }
  .ft-cf-cn-txt {
    /* outline: 2px solid red; */
    width: 85%;
  }
  /**  咖哩 */
  .ft-cn-curry {
    margin-top: 12%;
    margin-left: 6%;
  }
  .ft-cu-cn-pic {
    width: 85%;
  }
  .ft-cu-cn-txt {
    width: 85%;
  }
  .ft-cu-cn-pic-otona {
    display: none;
  }
  .ft-cu-cn-pic-sun {
    display: none;
  }
  .ft-center h2 {
    text-align: center;
  }
  /* 隱藏字 */
  .hidenfeatext {
    display: none;
  }

  /**---------- 遊戲區---------- */
  .game {
  }
  .game-item {
    background-size: 110% auto;
  }

  .ga-it-title {
    /* border: 2px solid red; */
    margin: auto;
    width: 45%;
    margin-top: 0%;
    margin-bottom: 2%;
  }
  .ga-it-coffee {
    /* border: 2px solid red; */

    margin: auto;
    width: 120%;
    margin-left: 2%;
  }
  /* *-----------最新消息-----------*/

  .new-card ul li:nth-child(4) {
    display: none;
  }
  .new-card ul li:nth-child(5) {
    display: none;
  }
  .new-card ul li:nth-child(6) {
    display: none;
  }
  .new-card ul li a {
  
  }
  .news-title {
    width: 30%;
    margin: auto;
  }
  .new-card {
    width: 100%;
    margin-left: 1%;
  }
  .new-card ul li {
    padding-top:5% ;
    width: 70%;
  }
}
